body{
  font-family: Arial;
}

.portfolio{
  display: flex;
  flex-direction: row;
}

.picture-container{
  margin-right: 20px;
}

img{
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

h1{
  margin: 0;
  font-weight: bold;
}
